# Visual Studio
*.suo
bin/
obj/

GameData/ASP/ASPTextWriter/Plugins/ASPTextWriter.dll

#Unity3D
Unity/**/*.csproj
Unity/Assets/Fonts
Unity/Assets/Fonts.meta
Unity/Assets/PartTools
Unity/Assets/PartTools.meta
Unity/Library
Unity/ProjectSettings
Unity/PartTools.cfg
Unity/Unity-csharp.sln
Unity/Unity.sln
Unity/Unity.userprefs
sysinfo.txt
**/*.blend1
**/*.blend1.meta