# Visual Studio
*.suo
bin/
obj/

GameData/ASP/TheWriteStuff/Plugins/TheWriteStuff.dll
GameData/ASP/TheWriteStuff/Plugins/TWSPainter.dll

Ignore

Unity/ksp/**/*.csproj
Unity/ksp/Assets/Fonts
Unity/ksp/Assets/PartTools
Unity/ksp/Assets/SquadCore
Unity/ksp/Library
Unity/ksp/ProjectSettings
Unity/ksp/Assets/Plugins/KSPAssets
Unity/ksp/ksp.sln
Unity/ksp/PartTools.cfg
Unity/ksp/Temp

*.unity
*.blend1
*.meta
*.dll