# Visual Studio
*.suo
bin/
obj/

GameData/ASP/TheWriteStuff/Plugins/TheWriteStuff.dll

Ignore

#Unity3D
Unity/**/*.csproj
Unity/Assets/Fonts
Unity/Assets/Fonts.meta
Unity/Assets/PartTools
Unity/Assets/*.meta
Unity/Assets/*.unity
Unity/Library
Unity/ProjectSettings
Unity/PartTools.cfg
Unity/Temp
Unity/Unity-csharp.sln
Unity/Unity.sln
Unity/Unity.userprefs
sysinfo.txt
**/UnityLockFile
**/*.unity
**/*.blend1
**/*.blend1.meta